<footer class="footer pagewidth">

  <div class="grid">
    <div class="grid-item xlarge--one-third xlarge--text-left">
      <a href="http://oddnetworks.com">Odd Networks, LLC.</a> © {{ site.time | date: "%Y" }}
    </div>
    <div class="grid-item xlarge--one-third">
      <span class="under">Follow us</span>
      <a href="https://twitter.com/oddnetworks" class="twitter-link"><i class="icon-twitter"></i></a>
      <a href="https://github.com/oddnetworks" class="github-link"><i class="icon-github"></i></a>
    </div>
    <div class="grid-item xlarge--one-third xlarge--text-right">
      Want to contribute? <a href="http://github.com/oddnetworks">Submit a pull request!</a>
    </div>
  </div>

</footer>
